:root {
  --bs-primary: #343a40;
  --bs-secondary: #191B24;
  --bs-triary: #493185;
  --bs-backgroundCard: #EBF1FF;
  --bs-success: #28a745;
  --bs-dark: #191B24;
  --bs-lilaFluix: #B5ADE9;
}

a.btn-Tabular {
  margin-top: -100px !important;
}

a.btn-Tabular:focus,
a.btn-Tabular:active {
  margin-top: 80px !important;
  margin-left: 10px !important;
  border: 3px solid var(--bs-triary) !important;
}

.container-lg {
  padding-top: 150px !important;
  padding-bottom: 50px !important;
}

.containerr {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  padding-top: 5rem;
}

.floating-panel {
  padding-top: 1rem;
  backdrop-filter: blur(10px);
  margin: 50px auto;
  width: auto;
  max-width: 1200px;
  border: 3px solid #454962;
  border-radius: 25px;
}



body h1{
  color: var(--bs-primary) !important;
}
body h5 {
  color: var(--bs-triary) !important;
  /* text-decoration: underline; */
  font-weight: bold;
}

body p{
  color: var(--bs-secondary) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.text-secondary {
  color: var(--bs-secondary) !important;
}

.text-triary {
  color: #493185 !important;
}

.bg-card {
  background-color: var(--bs-backgroundCard) !important;
}
.bg-card-selecctet {
  background-color: var(--bs-lilaFluix) !important;
}



/* CLASSES ESPECIFIQUES */
.h-min-content {
  height: min-content;
}
.border-radius-10 {
  border-radius: 10px;
}

.btn-outline-primary {
  border-color: var(--bs-lilaFluix) !important;
  border: 2px solid var(--bs-lilaFluix) !important;
  color: var(--bs-dark) !important;
}

.btn-outline-primary:hover {
  border-color: var(--bs-lilaFluix) !important;
  border: 2px solid var(--bs-lilaFluix) !important;
  background-color: var(--bs-lilaFluix) !important;
  color: white !important;
}

.btn-primary {
  border-color: var(--bs-lilaFluix);
  background-color: var(--bs-lilaFluix) !important;
  box-shadow: 0 0 10px rgb(75, 64, 64) !important;
}

button.btn-primary {
  border-color: var(--bs-lilaFluix);
  background-color: var(--bs-lilaFluix) !important;
  box-shadow: 0 0 10px rgb(75, 64, 64) !important;
}

button.btn-primary:focus,
button.btn-primary:active {
  border: 3px solid var(--bs-dark) !important;
}

a.btn-reddit:focus,
a.btn-reddit:active {
  border: 3px solid var(--bs-dark) !important;
}


option {
  color: var(--bs-triary) !important;
}

