

/* :root {
  --bs-primary: #343a40;
  --bs-secondary: #191B24;
  --bs-triary: #493185;
  --bs-backgroundCard: #EBF1FF;
  --bs-success: #28a745;
  --bs-dark: #191B24;
  --bs-lilaFluix: #B5ADE9;
} */



.containerr {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding-top: 5rem;
}

.floating-panel {
  padding-top: 1rem;
  backdrop-filter: blur(10px);
  margin: 50px auto;
  width: auto;
  max-width: 1200px;
  border: 3px solid #454962;
  border-radius: 25px;
}



body h1{
  color: var(--bs-primary) !important;
}
body h5 {
  color: var(--bs-triary) !important;
  /* text-decoration: underline; */
  font-weight: bold;
}

body p{
  color: var(--bs-secondary) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.text-secondary {
  color: var(--bs-secondary) !important;
}

.bg-card {
  background-color: var(--bs-backgroundCard) !important;
}



/* CLASSES ESPECIFIQUES */
.h-min-content {
  height: min-content;
}
.border-radius-10 {
  border-radius: 10px;
}

.btn-primary {
  border-color: #B5ADE9 !important;
  background-color: #B5ADE9 !important;
}