

:root {
  --bs-primary: #ff5733;
  --bs-secondary: #333333;
  --bs-success: #28a745;
}



.containerr {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding-top: 5rem;
}

.floating-panel {
  padding-top: 1rem;
  backdrop-filter: blur(10px);
  margin: 50px auto;
  width: auto;
  max-width: 1200px;
  border: 3px solid #454962;
  border-radius: 25px;
}

body p{
  color: #191B24;
}
body h1{
  color: #191B24;
}

